<app-banner [title]="'Add team'"></app-banner>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <form #addTeamForm="ngForm" name="Form" (ngSubmit)="addTeam()">
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="team.name"
              name="a"
              class="form-control"
              placeholder="team name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="team.owner"
              name="b"
              class="form-control"
              placeholder="team owner"
            />
          </div>
          <div class="form-group">
            <input
              type="date"
              [(ngModel)]="team.foundation"
              name="c"
              class="form-control"
              placeholder="team foundation"
            />
          </div>

          <div class="form-group text-center">
            <input type="submit" class="btn btn-primary py-3 px-5" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
