<!-- <app-banner [title]="'Insert Element'"></app-banner>
<div class="container">
  <div class="row">
    <h1>Insert Element in Array</h1>

    <div>
      <label for="myArray">Current Array:</label>
      <p>{{ T }}</p>
    </div>

    <div>
      <label for="selectedIndex">Position (0 to {{ T.length - 1 }}):</label>
      <input
        type="number"
        [(ngModel)]="valeur"
        name="pos"
        placeholder="Enter value"
      />
      <input
        type="number"
        [(ngModel)]="position"
        name="pos"
        placeholder="Enter position"
      />
    </div>

    <button (click)="insertElement()">Insert</button>

    <div *ngIf="myArray.length > 0">
      <h2>Modified Array:</h2>
      <p>{{ T }}</p>
    </div>
  </div>
</div> -->
