<app-banner [title]="'Add player'"></app-banner>
<div class="site-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto text-center">
        <form
          #addEditPlayerForm="ngForm"
          name="Form"
          (ngSubmit)="addEditPlayer()"
        >
          <div class="form-group">
            <input
              type="text"
              [(ngModel)]="player.name"
              name="a"
              class="form-control"
              placeholder="name"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              [(ngModel)]="player.number"
              name="b"
              class="form-control"
              placeholder="number"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              [(ngModel)]="player.age"
              name="c"
              class="form-control"
              placeholder="age"
            />
          </div>
          <div class="form-group">
            <select class="col-lg-6" [(ngModel)]="player.position" name="c">
              <option value="GK">GK</option>
              <option value="AV">AV</option>
              <option value="CB">CB</option>
            </select>
          </div>

          <div class="form-group text-center">
            <input type="submit" class="btn btn-primary py-3 px-5" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
